:root{
    --primary:#1FA5E1;
    --blue-dark:#201739;
    --purple:rgba(166, 14, 220, .25);

    --color-tab-indicator:#201739;
    --columns:1fr 690px;
    --transition-timing:.2s;
}

html{
    font-size: 16px;
}

body,*{
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main{
    position: relative;
    height: 100vh;
    overflow: hidden;
}


.btn-focus:focus{
    border:2px solid orange
}


.main-wrapper{
    width: 300px;
    display: inline;
    background-color: red;    
}

.main-section{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: var(--blue-dark);
    background-image: linear-gradient(90deg,var(--blue-dark)60% ,var(--purple)112%);
    
    
    
}

#bg-circles{
    position: absolute;
    height: 100%;
    width: 85%;
    left: 15%;
    bottom: -55px;
    z-index: 0;
}

[data-name="fg"]{
    transition: transform 2s;
}



.grid{
    display: grid;
    /* grid-template-columns: repeat(auto-fit,minmax(210px,1fr));  */
      grid-template-columns: var(--columns);
}





.d-flex{
    display: flex;
}
.content-center{
    justify-content: center;
    align-items: center;
}

.btn{
    background: none;
    border: none;
    cursor: pointer;
}


.header{
    padding: 2.2em;
}


.navigation{
    width: 100%;
    padding-right: 4em;
    
}
.list-style{
    list-style: none;
}
.navigation-items{
    width: 100%; 
}
.navigation-items .navigation-item:nth-child(2) {
    margin-right: 50px;
}
.navigation-items .navigation-item a{
    position: relative;
    font-weight: lighter;   
    padding-bottom: .4em;
    color: #fff;
    text-decoration: none;
    animation: color .2s;
}
.navigation-items .navigation-item a:hover{
    color: var(--primary);
}
.navigation-items .navigation-item a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 50%;
    height: 3px;
    background-color:var(--primary) ;
    transition: width .3s ease;
}
.navigation-items .navigation-item a:hover::after{
    width: 100%;
}

.btn-open-navigation{
    width: 45px;
    height: 30px;
  
}

.btn-open-navigation--active{
    transform: translateX(0);
    animation: openmenu .6s ease-out both;
}

.btn-open-navigation--close{
    
    animation: closemenu .6s ease-out both;
}


/* SIDENAV */
#maskSidenav{
    position: absolute;
}

.sidenav-content-wrapper{
    position: fixed;
    height: 100vh;
    transform: translateX(-100%);
    transition: transform 1s  cubic-bezier(.63,-0.07,.39,1.04);
    visibility: hidden;
    z-index: 20;
}
.sidenav-content{
    position: relative;
    display: flex;
    flex-direction: column;
    height:100%;
    width: 400px;
    padding: 2.4em 2em;
    background-color: rgba(47, 36, 75,.8);
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    clip-path: url(#sidenavMask);
    -webkit-clip-path: url(#sidenavMask);
 
    
}


#filter{
    position: absolute;
}

.visible{
    visibility: visible;
}
.active{
    transform: translateX(0);
}

.sidenav-content::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.sidenav__items{
    position: relative;
    margin: 0;
    padding: 0;
    flex-direction: column;
    z-index: 1;
}
.sidenav__item {
    position: relative;
    height: 90px;
}

.sidenav__item-line{
    fill:#fff;
}

.sidenav__item-line::before{
    content: "";
    position: absolute;
    bottom:30% ;
    left: 0;
    width: 20%;
    height: 3.5px;
    background-color: var(--primary);
    transition: width var(--transition-timing) ease;
}

.sidenav__item-line:hover::before{
    width: 100%;
  
}

.sidenav__item-line:hover{
    fill:var(--primary);
}

.sidenav__item .sidenav__icon{
    width: 3.2rem;
    height: 3.2rem;
    fill: inherit;
    
}
.sidenav-footer{
    position: relative;
    padding-top: 1em;
    font-size: .8rem;
    color: #fff;
    font-weight: 100;
    z-index: 1;
}

.btn-close-navigation{
    position: absolute;
    width: 32px;
    height: 32px;
    top: 34px;
    right: -30px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary);
    cursor: pointer;
    z-index: 2;
}


/* BRAND */
.brand {
    flex-grow: 1;
}
.brand-logo img{
    width: 150px;
    height: 30px;
}

.brand-logo--sidenav img{
    width: 280px;
}

/* MAIN SECCTION */
.main-content{
    position: relative;
    margin-top: 40px;
    padding: 0 2em 0 7.4em;
    align-self: center;
    z-index: 1;
}

.main-title{
    font-size: 2.9rem;
    color: var(--primary);
}

.main-title span:nth-child(1){
    font-weight: 400;
    color: #fff;
}
.main-title span:nth-child(2){
    font-size: 25px;
    position: relative;
    top: -5px;
    left: -8px;
}
.parragraph{
    color: #fff;
    font-weight: 100;
    font-size: 1.4rem;
    margin-top: 20px;
}

.parragraph span{
    font-weight: 600;
}
.parragraph span:nth-child(2){
    color: var(--primary);
}

.content-actions{
    margin-top: 7em;
}

.btn-more{
    padding: .8em 2em;
    background-color: #fff;
    border-radius: 40px;
    color: var(--primary);
    text-decoration: none;
    cursor: pointer;
    transition:background-color .3s;
}
.btn-more:hover{
    background-color: var(--primary);
    color: #fff;
}

.btn-more span,.next-icon{
    transition: transform .2s ease;
}


.next-icon{
    width: 16px;
    height: 16px;
    margin-left: 6px;

}
.next-icon svg{ 
    fill: var(--primary);
    transition: fill .2s;
}
.btn-more:hover .next-icon svg{ 
    fill: #fff;
}
.btn-more:hover > span{
    transform: translateX(8px);
}
.btn-more:hover > .next-icon{
    transform: translateX(12px);
}

.btn-play{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border-radius: 50%;
    border:2px dotted var(--primary);
    cursor: pointer;
    transition: transform .2s ease;
    
}
.btn-play-circle{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--primary);
    transition: transform .2s ease,background-color .2s ;
}
.btn-play-icon{
    width: 40px;
    height: 40px;
    fill: #fff;
    justify-content: center;
    align-items: center;
    transition: transform .2s ;
   
}

.btn-play:hover{
    transform: rotate(40deg);
}
.btn-play:hover > .btn-play-circle{
    transform: rotate(-40deg) scale(.94);    
    background-color: #fff;
}
 .btn-play-icon:hover svg{
    fill: var(--primary);
}
.btn-play:hover > .btn-play-icon{
    transform:  scale(2);  
    fill: var(--primary);  

}

.scroll-down-box{
    padding: 2em 0;
    grid-column: 1 / 3;
   
    
}

.button-scroll-down{
    width: 50px;
    height: 50px;
    justify-content: center;
    align-items: center;
    border:1px solid #fff;
    border-radius: 50%;
    transform: translateX(-40px);
    transition: background-color var(--transition-timing) ease,border-color var(--transition-timing) ease;
}

.button-scroll-down:hover{
    background-color: #fff;
    border-color: var(--primary);
}
.scroll-down-icon{
    justify-content: center;
    align-items: center;
    transition: transform var(--transition-timing) ease;
    
}

.scroll-down-icon svg{
    transform: rotate(90deg) ; 
}

.button-scroll-down:hover > .scroll-down-icon{
    transform: translateY(10px);
}






/* CRONTROL */

.container{
    position: relative;
    justify-content: center;
    align-items: center;
}

.control-img{
    margin: 0;
    width: 560px;
    margin-top: 80px;
}
.control-img img{
    width: 100%;
}


.extrainfo{
    position: absolute;
}

.extrainfo:nth-of-type(1){
    top: 28%;
    left: 8%;
}

.extrainfo:nth-of-type(2){
    top: 8%;
    left: 20%;
}
.extrainfo:nth-of-type(3){
    top: 8%;
    left: 72%;
}

.extrainfo:nth-of-type(4){
    top: 28%;
    right: 8%;
}

.extrainfo:nth-of-type(5){
    top: 75%;
    left: 35%;
}
.extrainfo:nth-of-type(6){
    top: 75%;
    right: 35%;
}

.extrainfo__btn{
    position: relative;
    width: 32px;
    height: 32px;
    background-color: var(--primary);
    border-radius: 50%;
    cursor: pointer;
    z-index: 10;
    transition: transform var(--transition-timing) ease;
    
}

.extrainfo__btn:hover{
    transform: rotate(180deg);
}
.extrainfo__btn .plus-icon::before,.extrainfo__btn .plus-icon::after{
    content: "";
    position: absolute;
    left: 50%;
    top: 50%;
    border-radius: 1px;
    background-color: #fff;
    transform:translate(-50%,-50%) ;
    transition: transform var(--transition-timing) ease;
    
}
.extrainfo__btn .plus-icon::before{
    width: 1.5px;
    height: 16px;

}

.extrainfo__btn .plus-icon::after{
    width: 16px;
    height: 1.5px;
       
}

.control-tooltip {
    position: absolute;
    top: -55px;
    left: -20px;
    width: 138px;
    padding: .6em .8em;
    background-color: var(--primary);
    font-size: .8rem;
    border-radius: 6px;
    opacity: 0;
    transition: opacity .5s ease ;
}
.control-tooltip::before{
    content: "";
    position: absolute;
    top: 32px;
    left: 20%;
    border-left: 2px solid transparent;
    border-top: 18px solid var(--primary);
    border-right: 18px solid transparent;
    z-index: 0;
    
}
.control-tooltip p{
    margin: 0;
    color: #fff;
    font-weight: lighter;
}
.control-tooltip__key{
    position: relative;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fff;
    color: var(--primary);
    margin-right: .8em;
    z-index: 1;
}

.extrainfo__btn:hover ~ .control-tooltip{
    opacity: 1;
}





/* SOCIALS MEDIAS */
.socials-medias{
    width: 90px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    left: 0;
    bottom: 0;
}

.social-media-items{
    margin: 0;
    padding: 0;
}

.social-media-item{
    margin-bottom: 18px;
    transition: transform .2s ease;
}
.social-media-item a svg{
    color: var(--primary);
    width: 1.4rem;
    height:1.4rem;
    transition: color .2s;
}
.social-media-item:hover{
    transform: translateY(-4px);
    
}
.social-media-item a:hover > svg{
    color: #fff;
}
.social-media-item--menu a:hover > svg{
    color: var(--primary);
}

.socials-medias::after{
    content: "";
    display: block;
    width: 2px;
    height: 60px;

    background-color: var(--primary);
}

.social-media-items--menu{
    position: relative;
    width: 80%;
    margin-top: 4em;
    justify-content: space-evenly;
    z-index: 1;
}
.social-media-item--menu a svg{
    color: #fff;
}

@keyframes openmenu {
    to{
        transform: translateX(-90px);
    }
}

@keyframes closemenu {
    to{
        transform: translateX(0px);
    }
}
